html {
  background-color: oklch(84.468% 0.03197 92.994 / .3);
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  font-family: "verdana", sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  color: #000;
  text-decoration: unset;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }
}

/* nav styles */

.nav-links {
  display: none;
}

@media (width > 636px) {
  .nav-links {
    display: flex;
  }
  .menu {
    display: none;
  }
}

.menu {
  border: 1px solid black;
  font-size: 1rem;
  padding: 5px 10px;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

