---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <header>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
                    <li><a href="/blog">Blog</a></li>
				</ul>
			</nav>
		</header>
		<h1>Blog</h1>
        <h2>This is where I will keep posted about my progress.</h2>
        <p>Quis duis cupidatat consectetur eiusmod veniam cupidatat eiusmod elit fugiat esse deserunt reprehenderit voluptate. Est eiusmod aute minim dolor irure labore Lorem consectetur ipsum. Laboris do pariatur laboris commodo dolore nostrud. Enim sunt officia id eiusmod magna veniam commodo in ullamco proident. Reprehenderit ullamco proident culpa quis ullamco sunt mollit in et amet enim irure ut fugiat id. Laboris commodo eu non dolore Lorem magna exercitation aute ea consectetur dolore voluptate fugiat sunt. Nulla et nulla veniam.</p>
	</body>
</html>
